.game{
    margin: 30px auto;
    display:grid;
    grid-template : repeat(20, 5%)/repeat(20, 5%);
    width:800px;
    height:800px;
    border: 1px solid black;
    & div{
        border:1px dotted grey;
    }
}

.snake{
    background-color:green;
}

.prey{
    background-color:red;
}